<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="app-profile" th:content="${@environment.getActiveProfiles().length > 0
        ? @environment.getActiveProfiles()[0]
        : 'default'}">
    <meta charset="UTF-8">
    <meta name="app-profile">
</head>
<body>
<!-- Фрагмент подвала для админ-панели -->
<footer th:fragment="footer" class="footer">
    <div class="container">
        <p>&copy; 2026 E-Padel. Todos los derechos reservados.</p>
    </div>
</footer>
<script th:src="@{/js/logger.js}"></script>
</body>
</html>